*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.answerButton {
    background-color: #ff6700;
    display: block;
}

#gameIntro {
    display: flex; /* toggle between none and flex */
    margin-bottom: 20px;
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#question4 {
    display: none;
}

#question5 {
    display: none;
}

#highScores {
    display: none;
    position: relative;
    left: 0;
    bottom: 0;
}

#gameOver {
    display: none;
}

#gameData {
     display: none;
}

#gameData[style*='block'] {
    display: flex !important;
}

#resultsBox {
    display: none;
    text-align: center;

}

#resultText {
    font-size: 1.7em;
    font-weight: 900;
}

#scoreBox {
    display: none; /* toggle between none and block */
    text-align: right;
}

#finalScore {
    margin-left: 12px;
}

#timeLeft {
    font-size: 1.25em;
    margin-left: 8px;
    font-weight: 700;
}

header {
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right: 12px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 20px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-button {
    text-align: center;
}

.btn {
  border: none;
  background-color: #ff6700;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

#viewHighScores #restartQuizFooter {
    font-size: 16px;
    line-height: 16px;
}

#restartQuizFooter {
    float: left;
    display: none;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
  }